name: Deployment pipeline

on:
  push:
    branches:
      - main
  pull_request:
    branches: [main]
    types: [opened, synchronize]

env:
  DEPLOY_CONDITION: ${{ github.event_name == 'push' && !contains(join(toJson(github.event.commits.*.message), ' '), '#skip') }}

jobs:
  simple_deployment_pipeline:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: '20'
      - name: Install Dependencies 
        working-directory: part11/pokedex-cicd
        run: npm install && npx playwright install --with-deps 
      - name: Lint
        working-directory: part11/pokedex-cicd
        run: npm run eslint
      - name: Build
        working-directory: part11/pokedex-cicd
        run: npm run build
      - name: Test
        working-directory: part11/pokedex-cicd
        run: npm run test
      - name: Test E2E
        working-directory: part11/pokedex-cicd
        run: npm run test:e2e
      - name: Upload Playwright Report
        uses: actions/upload-artifact@v4
        if: ${{ !cancelled() }}
        with:
          name: playwright-report
          path: part11/pokedex-cicd/playwright-report/
          retention-days: 30
      - uses: superfly/flyctl-actions/setup-flyctl@master
        if: ${{ env.DEPLOY_CONDITION == 'true' }}
      - name: Deploy to Fly.io
        if: ${{ env.DEPLOY_CONDITION == 'true' }}
        working-directory: part11/pokedex-cicd
        run: flyctl deploy --remote-only
        env:
          FLY_API_TOKEN: ${{ secrets.FLY_API_TOKEN }}
      - name: Discord Webhook Notify (Success)
        uses: rjstone/discord-webhook-notify@v1.0.4
        if: ${{ env.DEPLOY_CONDITION == 'true' && success() }}
        with:
          severity: info
          details: New Deployment!
          webhookUrl: ${{ secrets.DISCORD_WEBHOOK }}
      - name: Discord Webhook Notify (Failure)
        uses: rjstone/discord-webhook-notify@v1.0.4
        if: ${{ env.DEPLOY_CONDITION == 'true' && failure() }}
        with:
          severity: error
          details: Deployment Failed!
          webhookUrl: ${{ secrets.DISCORD_WEBHOOK }}

  tag_release:
    needs: [simple_deployment_pipeline]
    if: ${{ github.event_name == 'push' && !contains(join(github.event.commits.*.message, ' '), '#skip') }}
    runs-on: ubuntu-20.04
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ github.event.pull_request.merge_commit_sha }}
          fetch-depth: '0'
      - name: Bump Version and Push Tag
        uses: anothrNick/github-tag-action@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          WITH_V: true
          DEFAULT_BUMP: patch